<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.days.moment.board.mapper.BoardMapper">

    <sql id="search">
        <if test="type != null">
            <foreach collection="arr" item="item" separator="OR" open="WHERE(" close=") ">
                <if test="item == 'T'.toString()">
                    title like concat('%', #{keyword}, '%')
                </if>
                <if test="item == 'C'.toString()">
                    content like concat('%', #{keyword}, '%')
                </if>
                <if test="item == 'W'.toString()">
                    writer like concat('%', #{keyword}, '%')
                </if>
            </foreach>
        </if>
    </sql>

    <insert id="insert">
        insert into user_board(content, tag, drawing)
        values(#{content},#{tag},#{drawing})

        <selectKey order="AFTER" resultType="long" keyProperty="bNum">
            select last_insert_id()
        </selectKey>

    </insert>

    <select id="getList" resultType="com.days.moment.board.domain.Board">
        select
        b_num as bNum,
        content as content,
        tag as tag,
        drawing as drawing,
        b_reg_date as bModDate,
        b_mod_date as bRegDate,
        b_select_location as bSelectLocation,
        b_pic_count as bPicCount

        from user_board

        <include refid="search"></include>

        order by bNum desc limit #{skip}, #{size}
    </select>

    <select id="getCount" resultType="int">
        select count(b_num) from user_board

        <include refid="search"></include>
    </select>



    <resultMap id="boardMap" type="com.days.moment.board.domain.Board">
        <id property="bNum" column="b_num"></id>
        <result property="tag" column="tag"></result>
        <result property="content" column="content"></result>
        <result property="drawing" column="drawing"></result>
        <result property="bRegDate" column="b_reg_date"></result>
        <result property="bModDate" column="b_mod_date"></result>
        <result property="bSelectLocation" column="b_select_location"></result>
        <result property="bPicCount" column="b_pic_count"></result>
        <collection property="attachList" resultMap="attachMap"></collection>
    </resultMap>

    <resultMap id="attachMap" type="com.days.moment.board.domain.BoardAttach">
        <result property="uuid" column="uuid"></result>
        <result property="bNum" column="b_num"></result>
        <result property="fileName" column="fileName"></result>
        <result property="path" column="path"></result>
        <result property="image" column="image"></result>
        <result property="uploadDate" column="upload_date"></result>
        <result property="selectLocation" column="select_location"></result>
    </resultMap>

    <select id="select" resultMap="boardMap">
        select *
        from
            user_board board left join pic ta on board.b_num = ta.b_num
        where board.b_num = #{bNum}
    </select>

    <delete id="delete">
        delete from user_board where b_num = #{bNum}
    </delete>

    <update id="update">
        update user_board set tag = #{tag}, content = #{content}, b_mod_date = now()
        where b_num = #{bNum}
    </update>

    <update id="updateCount">
        update user_board set b_pic_count =

                                      (select count(image) from pic where pic.b_num = user_board.b_num)
    </update>

    <insert id="insertAttach">
        insert into pic (uuid,b_num,fileName,path,image)
        values (#{uuid}, #{bNum}, #{fileName}, #{path}, #{image})
    </insert>

    <delete id="deleteAttach">
        delete from pic where b_num = #{bNum}
    </delete>



</mapper>